* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

div.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.tableau {
  position: relative;
  background-color: hsl(180, 50%, 90%);
  width: 50em;
  height: 27em;
}

div.element {
  cursor: pointer;
  position: absolute;
  border: 0.1em solid black;
  height: 3.5em;
  width: 2.5em;
  display: flex;
  flex-flow: column;
  align-items: center;
}

div.element:hover {
  background-color: hsl(180, 50%, 60%);
}

div.circle {
  background-color: hsl(180, 50%, 30%);
  width: 2.4em;
  height: 2.4em;
  border-radius: 100%;
}

div.detail {
  border: 0.1em solid black;
  width: 20em;
  height: 27em;
}

circle.shell {
  stroke-width: 2;
  stroke-dasharray: 2, 2;
  stroke: #000;
  fill-opacity: 0;
}

.nucleus {
  fill: black;
}

.electron {
  fill: red;
}
